body {
  background-color: #000;
  color: #fff;
  display: flex;
  font-family: "Helvetica";
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: 100vh;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 1px;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}
